PORT=4000
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@YOUR_CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=nha_hoa
FRONTEND_ORIGIN=http://127.0.0.1:5173
ADMIN_EMAIL=admin@nhahoa.local
ADMIN_PASSWORD=ChangeMeBeforeUse!2026
NODE_ENV=development
